@media only screen and (min-width : 320px) and (max-width : 480px) {
	#nav_item:hover {
		background-color: black;
		color: gray;
	}
	#nav_item {

		display: block !important;
		width: 100% !important;
		border: none !important;
		color: #000000;
		height: 30px !important;
		text-align: center;
		padding: 3px !important;
		text-decoration: none;
		border-right: none !important;
		border-bottom: 1px solid white !important;
		font-family: Arial, sans-serif;
		font-size: 18px !important;
	}
	li {
		width: 100% !important;
		height: 40px !important;
	}
	#navdiv {
		text-align: center;
		width: 100% !important;
		margin: 0 auto;
	}
	#navbar {
		display: block !important;
		margin-bottom: 5px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	#vert_align {
		display: block !important;
		float: bottom !important;
		width: 100% !important;
		padding: 0px !important;
		height: 270px;
	}
	.padding_vert {
		padding: 0px;
		font-family: Arial, sans-serif;
		font-size: 16px;
		width: 100% !important;
		float: bottom !important;
		height: auto !important;
	}
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #000000;
	background: #808080;
    width: 100%;
	background-repeat:repeat-x;
    

}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#page
{
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 670px;
}

.topNaviagationLink
{
text-align:center;
position:relative;
margin-top:30px;
font-size:16px;
margin-left:-10px;
width:121px;
height: 35px;
line-height: 35px;
float:left;
color:#ffffff;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}


.topNaviagationLink a
{
text-decoration:none;
color:#ffffff;
margin-bottom:0px;
}

.topNaviagationLink a:hover
{
text-align:center;
color:#ffffff;
display: block;
width:121px;
height: 35px;
line-height: 35px;
background-image:url(tab.png);
border-bottom:none;
}

#mainPicture
{
clear:both;
width:670px;
height:345px;
background-color:#000000;
}

#mainPicture .picture
{
position:relative;
width:650px;
height:325px;
top:10px;
margin-left:10px;
background-image:url(background.JPG);
background-repeat:no-repeat;
}

#headerTitle
{
position:relative;
top:14px;
left:22px;
font-size:27px;
color:#ffffff;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#headerSubtext
{
position:relative;
top:12px;
left:22px;
font-size:14px;
color:#484848;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

.contentBox
{
margin-top:10px;
width:670px;
height:auto;
background-color:#ffffff;
}

.contentBox .innerBox
{
position:relative;

width:650px;
height:auto;
top:10px;
margin-left:10px;
background-image:url(contentBack.png);
background-color:#FFFFFF;
background-repeat:repeat-x;
}

h1
{
font-size:25px;
margin-bottom:10px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
color:#1F1603;
}

.contentText
{
font-size:13px;
line-height:24px;
margin-left:13px;
margin-right:13px;
}

h4 {
text-align:center;
padding-top:30px;
font-size:9px;
font-family:Arial, Helvetica, sans-serif;
color:#ffffff;
margin:0px;
}

h4
{
text-decoration:none;
font-size:9px;
}

a
{
color:#484848;
border-bottom:dotted 1px;
}

a:hover
{
color:#ffffff;
text-decoration:none;
border-bottom:dotted 2px;
}
a:visited
{
color:#000000;

}


blockquote {
	font-size:12px;
	text-align:justify;
	width:400px;
	color:#000000;
	padding:15px;
	margin:10px;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(blockquote.png);
	background-repeat:no-repeat;
	border:dashed 1px;
	border-color:#484848;
}

html, body {
text-align: center;
}
p {text-align: left;}